<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Filewallah App Engine</title>
<link rel="sytlesheet" href="/static/css/bootstrap.css" />
<div class="navbar navbar-inverse">
      <div class="navbar-inner">
      	<a class="brand" href="/">Filewallah</a>
            <ul class="nav">
               <li><a href="/">home</a></li>
               <li><a href="about">about</a></li>
            </ul>
          </div>
        </div>

    {% block head %}
	<title>{% block title%}{%endblock%} - My webpage   </title>
    {% endblock %}
<body>

<div id="body"> {% block body %}
<p> no body has been defined</p>
{% endblock %}</div>


</body>
</html>
