{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body  %}
    <h1>filewallah</h1>

      {{ welcome }} </br>

<div class="container">

<form method="post">
   <label>Title </title>
   <input type="text" name="title" />
   <label>Link </title>
   <input type="text" name="link" />
   <label>comment </title>
   <input type="text" name="comment" />
   <input type="submit" value="submit" />
   </form>
</div>

{% endblock %}
